
/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:12px/1.25em sans-serif; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #333; }
h1, h2, h3, h4, h5, h6 { font-weight: 600; }
a, a:active, a:visited { color: #f7861f; }
a:hover { color: #266fb3; }


body{
	background:URL(../images/white-textured-bkgr.jpg);
}

a#home-link {
	display: block;
	background: url(../images/hgf-logo_noDate_wide.png) no-repeat;
	background-size: auto 168px;
	background-repeat: no-repeat;
	width: 362px;
	height: 168px;
	overflow: hidden;
	text-indent: -9999px;
}

.container{
	width:100%;
	float:left;
}
.row{
	width:840px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}
	#navigation.row{
		width:900px;
	}
	#slide-show-container.row{
		width:880px;
	}
	.row.no-hide{
		overflow:visible;
	}

.sevencol,.sixcol,.fivecol,.fourcol,.threecol,.twocol,.onecol,.home-custom-col,.home-custom-col-lrg{
	float:left;
	margin-right:40px;
}
.sevencol.last,.sixcol.last,.fivecol.last,.fourcol.last,.threecol.last,.twocol.last,.onecol.last,.home-custom-col.last,.home-custom-col-lrg.last{
	margin-right:0px;
}

.eightcol{
	width:840px;
	margin-right:0px;
	float:left;
}
.sevencol{
	width:730px;
}
.sixcol{
	width:620px;
}
.fivecol{
	width:510px;
}
.fourcol{
	width:400px;
}
.threecol{
	width:290px;
}
.twocol{
	width:180px;
}
.onecol{
	width:70px;
}
.home-custom-col{
	width:250px;
}
.home-custom-col-lrg{
	width:260px;
}

.home-custom-col-lrg a {
	width: 100%;
	display: block;
	margin-top: 2em;
	text-align: center;
}

.home-custom-col-lrg a img {
	display: inline;
}

header{
	background:URL(../images/cloud-bkgr.jpg);
	padding-top:10px;
	border-bottom:3px #fff solid;
}
	#header-info{
		margin-top:40px;
	}


#navigation ul{
	list-style:none;
	background:URL(../images/nav-bkgr.png) no-repeat;
	width:860px;
	padding:13px 20px 0;
	margin:10px 0 22px 0;
	height:37px;
	text-align:center;
}
	#navigation ul li{
		display:inline;
		background:URL(../images/nav-divider.png) right center no-repeat;
	}
		#navigation ul li.page-item-22{
			background:none;
		}
		
	.iex #navigation ul li a {
		font-size: 1.4em;
	}

#slideshow-outer{
	border-bottom:8px #478acc solid;
	margin-bottom:20px;
}

	#slideshow-outer.internal {
	border-bottom: 8px solid #999;
	}

#slide-show{
	background:URL(../images/white-textured-bkgr.jpg);
	border-bottom:4px #ccc solid;
	border-top:4px #fff solid;
	padding:12px 15px;
	width:810px;
	height:310px;
	overflow:hidden;
}
	.internal #slide-show{
		width:550px;
		background:#FFF;
	}
#previous-slide{
	width:20px;
	height:44px;
	float:left;
	margin:152px 0;
	background:URL(../images/prev-button.png) top center no-repeat;
	cursor:pointer;
}
	#previous-slide.internal{
		background:URL(../images/prev-button-white.png) top center no-repeat;
		margin: 152px 0 0 -20px;
	}
	#previous-slide:hover{
		background-position:0 -44px;
	}
#next-slide{
	width:20px;
	height:44px;
	float:left;
	margin:152px 0;
	background:URL(../images/next-button.png) top center no-repeat;
	cursor:pointer;
}
	#next-slide.internal{
		background:URL(../images/next-button-white.png) top center no-repeat;
		margin: 152px -20px 0 0;
	}
	#next-slide:hover{
		background-position:0 -44px;
	}
	
.slide{
	height:100%;
	width:100%;
	float:left;
	position:relative;
}
	.slide .caption{
		position:absolute;
		bottom:0px;
		left:0px;
		background:rgba(61,135,204,0.8);
		width:390px;
		padding:10px 405px 10px 15px;
	}
	.iex .slide .caption{
		background:url(../images/blue-bkgr.png);
	}

	.internal .slide .caption{
		width:520px;
		padding:10px 15px;
	}

#main{
	padding-bottom:20px;
	border-bottom:4px #e6e6e6 solid;
	
}
#main.home{
	padding-top:20px;
}
#content{
	margin-top:20px;
}
footer{
	padding-top:20px;
	border-top:4px #fff solid;
	padding-bottom:15px;
	
}
	footer ul{
		list-style:none;
		margin:0;
	}
		footer ul li{
			display:inline;
		}

#socialize-container{
	margin-top:20px;
}

#socialize{
	float: left;
	list-style:none;
	margin:0;
}

#socialize.home li {
	float: left;
}

	.home .socialize{
		padding: 0px 0 0 0px;
		line-height: 32px;
		display: block;
		margin-bottom: 18px;
		height: 32px;
		width: 32px;
		float: left;
		margin-right: 10px;
	}
	.socialize{
		padding: 0px 0 0 42px;
		line-height: 32px;
		display: block;
		margin-bottom: 18px;
	}
		.socialize:hover{
			cursor:pointer;
			background-position:0 -32px;
		}

	.st_sharethis_custom{
		background: url(../images/share-button.png) no-repeat scroll left top transparent;
	}
	.fb_soc{
		background: url(../images/fb-button.png) no-repeat scroll left top transparent;
	}
	.twit_soc{
		background: url(../images/twit-button.png) no-repeat scroll left top transparent;
	}
	
	input[type="text"], textarea {
	padding: 0 6px;
	}
	
	input[type=text]{
		height:22px;		
		border:1px solid #999;
		outline:none;
		-moz-border-radius: 8px;
		border-radius: 8px;
		-moz-box-shadow: inset 0px 3px 0 0px #ccc;
		-webkit-box-shadow: inset 0px 3px 0 0px #ccc;
		box-shadow: inset 0px 3px 0 0px #ccc;
		margin-bottom:6px;
		
	}
	
	textarea{
		outline:none;
		border:1px solid #999;
		-moz-border-radius: 8px;
		border-radius: 8px;
		-moz-box-shadow: inset 0px 3px 0 0px #ccc;
		-webkit-box-shadow: inset 0px 3px 0 0px #ccc;
		box-shadow: inset 0px 3px 0 0px #ccc;
		margin-bottom:6px;
	}
	
	input[type=submit]{
		height:25px;
		outline:none;
		border:none;
		background:#f7861f;
		-moz-border-radius: 8px;
		border-radius: 8px;
		-moz-box-shadow: inset 0px -3px 0 0px #915013;
		-webkit-box-shadow: inset 0px -3px 0 0px #915013;
		box-shadow: inset 0px -3px 0 0px #915013;
		padding-left:7px;
		padding-right:7px;
		float: right;
	}
	
	input[type=submit]:hover{
		background:#ff9c40;
	}
	
	input[type=submit]:active{
		-moz-box-shadow: inset 0px -1px 0 0px #915013;
		-webkit-box-shadow: inset 0px -1px 0 0px #915013;
		box-shadow: inset 0px -1px 0 0px #915013;
	}
	
	#eventbright {
		float: right;
		margin-left: 20px;
	}
	
	#ss-form {
		width: 260px;
	}
	
	#ss-form label {
		width:65px;
		float:left;
		line-height: 2em;
	}
	
	#ss-form input[type=text] {
		width:180px;
		float:right;
	}

	#ss-form .ss-select label {
		width: auto;
	}
	
	#ss-form .ss-select select {
		float: left;
		width: 100%;
		clear: both;
		margin: 0 0 10px 0;
	}
	.ss-form-entry {
		overflow: hidden;
		clear: both;
	}
	
	.ss-required-asterisk {
		font-size: 0.875em;
		margin: 0 0 6px 0;
	}

	.border-left, .threecol.border-left{
		background:URL(../images/home-vert-border.png) right top no-repeat;
		margin-right:20px;
		padding-right:20px;
	}
	
	#subnav-container{
		background: url(../images/subnav-bkgr.png) no-repeat bottom;
		padding-bottom:14px;
		margin-top:-6px;
	}
	
	#subnav{
		width:180px;
		list-style:none;
		margin:0;
		padding-top:18px;
		padding-bottom:10px;
		border-top:2px solid #3f9cf2;
		-moz-border-radius-topright: 5px;
		border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		border-top-left-radius: 5px;
		
		background-color: #256eb2;
		background-image: -moz-linear-gradient(100% 100% 90deg, #308ee5, #256eb2);
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#308ee5), to(#256eb2));
		
	}
		ul#subnav li {
			margin:8px 0 0;
			display:block;
			border-top: #1361ab 1px solid;
		}
		
		ul#subnav li.first {
			border-top: none;
			margin-top: 0;
		}
	
	.wp-caption{
		background-color:#FFF;
	}
		.wp-caption img{
			margin-left:5px;
			margin-right:5px;
			margin-top:5px;
		}
		.wp-caption p{
			margin-left:5px;
			font-size:.833em;
			margin-bottom:5px;
		}
	

	p{
		margin-bottom:12px;
	}
	.left, .alignleft{
		float:left;
	}
	.right{
		float:right;
	}
	
	.alignleft{
		float:left;
		margin-right:20px;
		margin-bottom: 30px;
	}
	.alignright{
		float:right;
		margin-left:20px;
	}
	
	.aligncenter{
		margin-left:auto;
		margin-right:auto;
	}

/* Typograhpy */
h1,h2,h3,h4,h5,h6{
  font-family: "cronos-pro-1","cronos-pro-2",sans-serif;
	margin-bottom:0.5em;
}

h1.orange,h2.orange,h3.orange,h4.orange,h5.orange,h6.orange{
  color:#f7861f;
}

h1.no-marg,h2.no-marg,h3.no-marg,h4.no-marg,h5.no-marg,h6.no-marg{
	margin-bottom:0;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
	text-decoration:none;
}

h1{
	font-size:2.666em;
	color: #01386b;
}
h2{
font-size:2.166em;
line-height: 1em;
float: left;
width: 100%;
}
	h2.smaller{
		font-size: 2em;
	}

h3 {
font-size:1.666em;
line-height: 1em;
}

		.sponsors h3 {
		font-size:1.666em;
		float: left;
		width: 100%;	
		}

	h3 span {
		color: #F7861F;
	}
h4{font-size:1.166em;}

#header-info h2{
	font-size:2.5em;
	line-height: 0.75em;
	color:#474585;
	margin-bottom: 0.2em;
}
#header-info p{
	color:#474585;
	font-size:1.5em;
	line-height: 1em;
	font-family: "cronos-pro-1","cronos-pro-2",sans-serif;
	font-weight:600;	
}
	.iex #header-info p {
		font-size: 1.4em;
	}

#navigation ul li a,#navigation ul li a:visited{
	font-size:1.5em;
	color:#f7861f;
  font-family: "cronos-pro-1","cronos-pro-2",sans-serif;
	text-decoration:none;
	font-weight:600;
	padding-right:10px;
	padding-left:5px;
}
#navigation ul li.page-item-22 a,
#navigation ul li.page-item-22 a:visited{
	padding-right:0;
}
#navigation ul li.page-item-5 a,
#navigation ul li.page-item-5 a:visited{
	padding-left:0;
}

#navigation ul li a:hover, #navigation ul li.current_page_item a, #navigation ul li.current_page_ancestor a{
	color:#266fb3;
}

.caption{
	color:#fff;
}
	.caption h2 a{
		text-decoration:none;
		color:#FFF;
	}
		.caption h2 a:hover{
			color:#F7861F;
		}

label{
	font-weight:bold;
}

input[type=submit]{
		color:#fff;
		font-weight:bold;
}

img {
	margin-bottom: 15px;
}

#socialize a{
	text-decoration:none;
	color:#333;
}

footer a,footer a:visited{
	text-decoration:none;
	color:#444;
}
	footer a:hover{
		color:#266FB3;
	}

ul#subnav li a{
  font-family: "cronos-pro-1","cronos-pro-2",sans-serif;
	font-size:1.333em;
	font-weight:600;
	color:#FFF;
	text-decoration:none;
	display: block;
	padding:7px 0 0 15px;
}

ul#subnav li a:hover, ul#subnav li.current_page_item a, ul#subnav li.current_page_ancestor a{
	color:#012b52;
}


.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}