#raffle a:link {
  text-decoration: none;
}

#raffle a:visited {
  text-decoration: none;
}

#raffle a:hover {
  text-decoration: underline;
}

#raffle a:active {
  text-decoration: underline;
}

#raffle a:link {
  color: #1a80b6;
}

body .restaurant-links a,
body .restaurant-links a:before,
body .restaurant-links a:after {
  color: #ff9800 !important;
}